<div id="contact-line">
<div id="contact">
  <h1>contact</h1>
  <div id="contactbox">
  <div class="contact-desc">if you're interested in my work, shoot me a message!</div>
  <form id="contactform" action="//formspree.io/krogerst.st@gmail.com" method="POST">
    <input type="text" class="formbox" name="name" placeholder="Name">
    <input type="email" class="formbox" name="_replyto" placeholder="Email">
    <textarea name="message" placeholder="Message"></textarea>
    <input type="submit" value="Send">
  </form>
</div>
</div>
</div>
