<script> {% include stickyheader.js %} </script>
<header class="site-header" role="banner">

  <div id="nav-header">

    <div class="site-title">
        <a href="{{ "/" | relative_url }}">kelsey rogers</a>
        <div>archivist. designer. storyteller.</div>
    </div>

    <div class="nav-links">
      <a href="{{ "/landgren-collins" | relative_url }}">genealogy</a>
      <div> / </div>
      <a href="{{ "/about/" | relative_url }}">about</a>
      <div> / </div>
      <a href="{{ "/contact/" | relative_url }}">contact</a>
    </div>

  </div>

</header>
