<header class="site-header wrapper" role="banner">

  <div id="nav-header">

    <div class="site-title">
        <a href="{{ "/" | relative_url }}">kelsey marie rogers</a>
        <div>naturalist. librarian. designer.</div>
    </div>

    <div class="nav-links">
      <a href="{{ "/" | relative_url }}">home</a>
      <div> / </div>
      <a href="{{ "/about/" | relative_url }}">about</a>
      <div> / </div>
      <a href="{{ "/resume/" | relative_url }}">resume</a>
      <div> / </div>
      <a href="{{ "/contact/" | relative_url }}">contact</a>
    </div>

  </div>

</header>
