<header class="site-header" role="banner">

  <div id="nav-header">

    <div class="site-title">
        <a href="{{ "/" | relative_url }}">kelsey rogers</a>
        <div>archivist. naturalist. storyteller.</div>
    </div>

    <div class="nav-links">
      <a href="{{ "/about/" | relative_url }}">about</a>
      <div> / </div>
      <a href="{{ "/resume/" | relative_url }}">resume</a>
      <div> / </div>
      <a href="{{ "/" | relative_url }}">portfolio</a>
      <div> / </div>
      <a href="{{ "/contact/" | relative_url }}">contact</a>
    </div>

  </div>

</header>
