<style type="text/css" media="screen">
.inat-widget { font-family: "Open Sans", sans-serif; padding: 10px; line-height: 1;}
.inat-widget-header {margin-bottom: 10px;}
.inat-widget td {vertical-align: top; padding-bottom: 10px;}
.inat-label { color: #888; }
.inat-meta { font-size: smaller; margin-top: 3px; line-height: 1.2;}
.inat-observation-body, .inat-user-body { padding-left: 10px; }
.inat-observation-image {text-align: center;}
.inat-observation-image, .inat-user-image { width: 100px; display: inline-block; }
.inat-observation-image img, .inat-user-image img { max-width: 100px; }
.inat-observation-image img { vertical-align: middle; }
.inat-widget-small .inat-observation-image { display:block; float: left; margin: 0 3px 3px 0; height:100px;}
.inat-label, .inat-value, .inat-user { font-family: "Trebuchet MS", Arial, sans-serif; }
.inat-user-body {vertical-align: middle;}
.inat-widget td.inat-user-body {vertical-align: middle;}
.inat-widget .inat-footer td.inat-value {vertical-align: middle; padding-left: 10px;}
</style>
<div class="inat-widget">
    <div class="inat-widget-header">
      <a href="https://www.inaturalist.org"><img alt="iNaturalist.org" src="https://www.inaturalist.org/assets/logo-small-9571bdf43f2c4dc05eb536a8c06d7c4b.gif" /></a>
    </div>
  <script type="text/javascript" charset="utf-8" src="https://www.inaturalist.org/observations.widget?layout=small&limit=20&order=desc&order_by=observed_on&taxon_id=26695"></script>
  <table class="inat-footer">
    <tr class="inat-user">
      <td class="inat-value">
        <strong>
            <a href="https://www.inaturalist.org/taxa/26695-Scaphiopus-holbrookii">View more observations of Scaphiopus holbrookii on <nobr>iNaturalist.org »</nobr></a>
        </strong>
      </td>
    </tr>
  </table>
</div>
