<!-- Javascript UI Assets -->
<script src="{{ "/assets/js/core.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/widget.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/mouse.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/slider.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/tabs.min.js" | relative_url }}"></script>
<!-- Tabulator Assets -->
<script src="{{ "/assets/js/tabulator.js" | relative_url }}"></script>
<!-- Visualizing Abolition Javascript -->
<script src="{{ "/assets/js/visabtabscript.js" | relative_url }}"></script>
<!-- Proj4js Assets -->
<script src="{{ "/assets/js/proj4.js" | relative_url }}"></script>
<!-- Highcharts Assets -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/maps/modules/map.js"></script>
<script src="https://code.highcharts.com/mapdata/custom/world-continents.js"></script>
<!--Javascript Stylesheet-->
<link rel="stylesheet" href ="{{ "/assets/styles/jquery-ui.min.css" | relative_url }}">
<link rel="stylesheet" href ="{{ "/assets/styles/tabulator.css" | relative_url }}">
<link rel="stylesheet" href ="{{ "/assets/styles/visabtabcss.css" | relative_url }}">
