/**
* Home
*/
.home-story {
    width: 100%;
    margin-top: 0;

    .home-wrap {
        width: $wrap-mini;
        margin: auto;
    }

    h1 {
        font-family: $Abel;
    }

    .intro-box {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 20px;
        background: url("ship_test.png");
        background-position: right;
        min-height: 400px;
    }

    .home-ribbon {
        display: flex;
        flex-wrap: wrap;
        max-width: 700px;
        align-items: center;

        .home-title {
            background-color: black;
            margin-left: -100px;
            padding: 5px 30px;
            margin-bottom: 10px;
            font-size: 50px;
            font-family: $Abel;
            color: white;
        }

        .home-desc {
            margin-left: 30px;
            background-color: white;
            padding: 5px;
            font-size: 15px;
            color: black;
            font-family: $base-font-family;
        }
    }

    .portfolio-box {

        .link-header {
            span {
                background-color: black;
            }
            font-size: 25px;
            font-family: $Abel;
            color: white;

            &:visited {
                color: white;
            }
        }

        .portfolio {
            padding-bottom: 20px;

            .example {
                display: flex;
                padding-top: 5px;
            }

            .example-pic {
                width: 200px;
                height: 400px;
                border-top-left-radius: 200px;
                border-bottom-left-radius: 200px;
                flex: 1 0 auto;
            }

            .example-text {
                margin-left: 10px;
                max-height: 400px;
                display: flex;
                flex-flow: column;

                .link-sub {
                    margin-top: 5px;

                    span {
                        background-color: $color-main;
                        font-weight: bold;
                        font-family: $Abel;
                        font-size: 20px;
                    }
                }

                p {
                    overflow: hidden;
                    margin-top: 5px;
                    font-size: 15px;
                }

                .read-more {
                    margin-top: 5px;

                    a {
                        font-size: 16px;
                        background-color: black;
                        color: white;
                        font-style: italic;
                        padding: {
                            left: 2px;
                            right: 2px;
                        }
                    }
                }
            }

            #design {
                margin-top: 20px;
            }

            #writing {
                margin-top: 40px;
            }

            #tutorial {
                flex: 1;
                margin-right: 20px;

                .example-pic {
                    background-image: url("script-image.png");
                    background-position: left;
                    background-size: 600px;
                }
            }

            #visual_ab {
                flex: 1;

                .example-pic {
                    background-image: url("visab_database.jpg");
                    background-position: center;
                }
            }

            #holiday {
                margin-right: 20px;
                flex: 1;

                .example-pic {
                    background-image: url("Holiday_Dinner2.jpg");
                    background-position: right;
                }
            }

            #encounters {
                flex: 1;

                .example-pic {
                    background-image: url("devils_tower.jpg");
                    background-position: top;
                }
            }
        }
    }

    .flex {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        justify-content: space-between;
    }

    .section {
        border-top: black solid 5px;
    }

    #contact {
        margin-bottom: 20px;
        .blackbox {
            width: 200px;
            height: 200px;
            background: black;
        }
    }
}
