/*
Name: Visualizing Abolition Database Widget
Author: Kelsey Rogers
Version: 1.0.0
License: GPL 2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html

**color reference, for consistency**

accent color: #01734F
main grey: #454545 #CCCCCC
hover green: #78b5a1

/*---------------------------*/
/*- MAIN CSS ----------------*/
/*---------------------------*/


/*--Widget Styles-----------*/

/*- BODY ----------*/

#main-container {
  margin: auto;
  width: 1020px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
	margin-bottom: 20px;
}

.database-container {
  min-height: 50px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}

/*--TABS----------------*/

.ui-tabs {
  border-radius: none;
  border: none;
  background: transparent;
}

.tab-back {
  background-color: white;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#tabs {
  width: 850px;
}

#tabs .ui-widget-content {
  border: none;
}

#tabs .ui-widget-header {
  background: none;
  border: none;
}

#tabs li {
  width: 91px;
  padding: 5px;
  text-align: center;
  float: left;
  height: 31px;
  border-bottom: 1px solid #999;
  color: #555;
  font-weight: bold;
}

#tabs .ui-corner-top:first-of-type {
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
}

#tabs .ui-corner-top {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#tabs .ui-corner-top:last-of-type {
  border-top-left-radius: 0px;
  border-top-right-radius: 15px;
}

.ui-widget.ui-widget-content {
  border: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  background-color: #e6e6e6;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: none;
    background: #01734F;
    font-weight: bold;
    color: #fff;
}

/*--TOOLBAR------------*/

.toolbar {
  width: 150px;
  background-color: white;
  border-radius: 15px;
  margin-right: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.toolbar-content {
  padding: 5px;
}

/*--TOOLBAR Header-----*/

.toolbar-title {
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  height: 31px;
  border-bottom: 1px solid #999;
  background-color: #e6e6e6;
  color: #555;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.tools-title {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.25;
}

.toolholder {
  border: 1px solid #999;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}

.tool-labels {
  display: flex;
}

/*--TOOLBAR Tooltip--*/

.questionicon {
  /*background-color: grey;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  line-height: 18px;*/
  position: relative;
  display: inline-block;
  text-align: center;
  cursor: default;
  float: left;
  margin-right: 2px;
}

.questionicon:before {
  position: relative;
  bottom: 3px;
  font-family: FontAwesome;
  content: "\f059";
  font-size: 14px;
}

.questionicon:hover span {
  display: block;
  transform-origin: 100% 0%;

  -webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;
}

.questionicon span {
  display: none;
  text-align: left;
  background-color: white;
  padding: 10px;
  width: 100px;
  position: absolute;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  top: -5px;
  right: 270%;
  color: #454545;
  font-size: 12px;
  line-height: 1.4;
}

.questionicon span::after {
    content: " ";
    position: absolute;
    top: 20%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent white;
}

/*-tooltip animation-*/
@-webkit-keyframes fadeIn {
	0% {
		opacity:0;
		transform: scale(0.6);
	}

	100% {
		opacity:100%;
		transform: scale(1);
	}
}

@keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:100%; }
}

/*--TOOLBAR Controls---*/

#search-show .checkbox-search input {
  margin-left: 3px;
}

.checkbox-search {
  font-size: 12px;
  font-weight: bold;
}

/*--Controls Show/Hide-*/
.colmholder {
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

#colmtitle .fa {
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.dropdown-colm {
  display: none;
  position: absolute;
  padding: 4px;
  transition: all 0.4s ease-in-out;
  z-index: 3;
}

.colmholder:hover .dropdown-colm {
  display: block;
}

.showcheck {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #454545;
  font-size: 10px;
  display: block;
  width: 110px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 12px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
}

/*--Controls Slider---*/

#input-container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

#sliderOne{
  width: 40px;
  padding: 0px;
  height: 25px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

#between {
  width: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

#sliderTwo {
  width: 40px;
  padding: 0px;
  height: 25px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

#slider-range {
  align-content: center;
  margin: 0 auto;
  width: 100px;
}

/*--TOOLBAR Results----*/

#resultslive {
  font-weight: bold;
  font-size: 12px;
}

/*--TOOLBAR Filters----*/

#clearall {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  background-color: #01734F;
  width: 100%;
}

#clearall:hover {
  background-color: #78b5a1;
}

.filterval {
  display: flex;
  font-size: 12px;
  font-weight: bold;
}

/*--TOOLBAR Download---*/

.downloadbtn {
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}

.downloadbtn:hover {
  color: #01734F;
}

#download-csv {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#download-json {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}


/*--DATABASE-----------*/

#visab-table {
  /*margin:5px;
  border-radius: 10px;*/
  border-right: none;
  border-bottom: none;
  border-top: none;
}

.database-container .tabulator .tabulator-header {
  border: none;
  background-color: #e6e6e6;
  border-bottom: 1px solid #999;
}

.tabulator-col {
  min-height: 20px;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content  {
  padding: 0px;
}

.tabulator-col-title {
  width: 100%;
  padding: 5px;
  height: 30px;
  background-color: #e6e6e6;
  color: #3c3c3c;
}

.tabulator-header-filter {
  padding: 4px;
}

/*--DATABASE Dropdown Table-*/

.dropinfo {
  margin: 5px;
  border-left: 0px;
  border-right: 0px;
  display: none;
  border-top: 1px solid #aaa;
}

.dropinfo td {
  padding: 5px;
}

.tr2 {
  border-top: 1px solid #aaa;
}

.tr1 td {
  border-bottom: none;
}

.summary {
  white-space: pre-wrap;
}

/*--DATABASE Pagination-*/

#pagination-element {
  width: 100%;
  padding: 5px 10px;
  border-top: 1px solid #999;
  background-color: #e6e6e6;
  text-align: right;
  color: #555;
  font-weight: bold;
  white-space: nowrap;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#pagination-element .tabulator-pages {
  margin: 0 7px;
}
#pagination-element .tabulator-page {
  display: inline-block;
  margin: 0 2px;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 2px 5px;
  background: rgba(255, 255, 255, 0.2);
  color: #555;
}
#pagination-element .tabulator-page.active {
  color: #d00;
}
#pagination-element .tabulator-page.disabled {
  opacity: .5;
}
#pagination-element .tabulator-page:not(.disabled):hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
}

/*--MAP----------------*/

#map-container {
  width: 800px;
  margin: auto;
}

/*--TIMELINE-----------*/

#time-container {
  width: 800px;
  min-height: 500px;
}
