/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font-family: $base-font-family;
  background-color: $background-color;
}

/**
 * Links
 */
a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/**
 * Wrapper
 */
.wrapper {
  margin: auto;
}

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  vertical-align: middle;

  path {
    fill: $color-main;
  }
}
