---
layout: default
---
<div class="home-story">
    <div class="home-wrap">
        <div class="intro-box">
            <div class="home-ribbon">
                <div class="home-title">
                    archivist. naturalist. storyteller.
                </div>
                <div class="home-desc">
                  I'm Kelsey Rogers. I love to tell stories. Let me help you tell yours.
                </div>
            </div>
        </div>

        <div class="portfolio-box">

          <h1>portfolio</h1>

      {% include portfolio.html %}

  </div>
</div>
