---
layout: default
---
<article class="page">

<div class="spadefoot-page">

<p class="spadefoot-credit">Project for <a href="{{ 'mlis/portfolio/home' | relative_url }}">Kent State MLIS Program</a> - Metadata Architecture and Implementation Fall 2019</p>

<div class="spadefoot-header">
  <div class="spadefoot-title"><a href="{{ "/mlis/metadata/home" | relative_url }}">Secondhand CDs</a></div>
  <div class="spadefoot-links">
    <a href="{{ "/mlis/metadata/home" | relative_url }}">home</a>
    <div> / </div>
    <a href="{{ "/mlis/metadata/specifications" | relative_url }}">specification</a>
    <div> / </div>
    <a href="{{ "/mlis/metadata/records" | relative_url }}">records</a>
  </div>
</div>

<div class="metadata-content">
{{ content }}
</div>

</div>

</article>
