---
layout: default
---
<article class="page">

<div class="spadefoot-page">

<p class="spadefoot-credit">Project for <a href="{{ '/mlis' | relative_url }}">Kent State MLIS Program</a> - Cultural Heritage Informatics Fall 2019</p>

<div class="spadefoot-header">
  <div class="spadefoot-title"><a href="{{ "/mlis/spadefoot/home" | relative_url }}">Scaphiopus <em>solitarius</em></a></div>
  <div class="spadefoot-links">
    <a href="{{ "/mlis/spadefoot/home" | relative_url }}">home</a>
    <div> / </div>
    <a href="{{ "/mlis/spadefoot/thelithograph" | relative_url }}">the lithograph</a>
    <div> / </div>
    <a href="{{ "/mlis/spadefoot/thetoad" | relative_url }}">the toad</a>
    <div> / </div>
    <a href="{{ "/mlis/spadefoot/thelibrary" | relative_url }}">the library</a>
  </div>
</div>

<div class="spadefoot-content">
{{ content }}
</div>

</div>

</article>
