/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, pre, hr,
dl, dd, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font-family: $base-font-family;
  background-color: $background-color;
}

code {
  background-color: #f1efef;
  margin: 1px;
}

/**
 * Links
 */
a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/**
* Lists
*/

ol {
  margin-left: 10px;
}

ul {
  margin-left: 10px;
  margin-top: 10px;
  -webkit-margin-before: 10px;
}

li {
  margin-bottom: 10px;
  font-size: 15px;
}

/**
 * Wrapper
 */
.wrapper {
  margin: auto;
}

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  vertical-align: middle;

  path {
    fill: $color-main;
  }
}
