/**
* Site Header
*/
.site-header {
  z-index: 100;
    width: 100%;
    background: white;
}

#nav-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: {
      top: 15px;
      bottom: 15px;
    }
    @media (max-width: 820px) {
      flex-direction: column;
      padding: {
        top: 5px;
        bottom: 5px;
      }
    }
}

.site-title {
  font-family: $Abel;
  div {
    display: inline-block;
    color: $black;
    padding-left: 5px;
    font-style: italic;
    font-size: 20px;
    }
  a {
      color: $black;
      font-size: 25px;
      font-weight: bold;
    &:visited {
        color: $black;
      }
    &:hover {
      text-decoration: underline;
      }
    }
}

.nav-links {
  display: flex;
  justify-content: space-between;
  @media ($desktop) {align-self: flex-end; padding-left: 15px;}
  @media (max-width: 820px) {align-self: flex-start; padding-top: 5px;}
  a {
  color: $black;
  padding-left: 10px;
  padding-right: 10px;
  font-family: $Abel;
  font-size: 20px;
  &:first-of-type {
    @media (max-width: 820px) {
    padding-left: 0px;
    }
  }
}
  div {
    color: $black;
    font-family: $Abel;
    font-size: 20px;
  }
}
