/**
* Site Header
*/
.site-header {
  z-index: 100;
    width: 100%;
    background: white;
}

#nav-header {
    display: flex;
    justify-content: space-between;
    padding: {
      top: 15px;
      bottom: 15px;
    }
    @media ($desktop) {align-items: baseline;}
    @media ($tablet) {align-items: center;}
}

.site-title {
  font-family: $Abel;
  div {
    color: $black;
    padding-left: 5px;
    font-style: italic;
    @media ($desktop) {font-size: 20px; display: inline-block;}
    @media ($tablet) {display: none;}
    @media ($phone) {display: none;}
    }
  a {
      color: $black;
      @media ($desktop) {font-size: 25px;}
      @media ($tablet) {font-size: 20px;}
      @media ($phone) {font-size: 20px;}
      font-weight: bold;
    &:visited {
        color: $black;
      }
    &:hover {
      text-decoration: underline;
      }
    }
}

.nav-links {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  color: $black;
  font-family: $Abel;
  @media ($desktop) {font-size: 20px;}
  @media ($tablet) {font-size: 18px; line-height: 20px;}
  @media ($phone) {font-size: 18px; line-height: 20px;}
 a {
   padding-left: 10px;
   padding-right: 10px;
  }
/*  div {
    color: $black;
    font-family: $Abel;
    font-size: 20px;
  }*/
}
