/**
* Home
*/
.home-story {
    width: 100%;
    margin-top: 0;
    .home-wrap {
        width: $wrap-mini;
        margin: auto;
    }
    h1 {
      font-family: $Abel;
      text-align: center;
      margin-bottom: 40px;
      padding: 5px;
    }
}

.intro-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 10px;
    background: url("assets/images/toadstools_2.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 1200px;
    background-color: $cream;
    min-height: 300px;
}

.home-ribbon {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    align-items: center;
    .home-title {
        background-color: $yellow;
        margin-left: -100px;
        padding: 5px 30px;
        margin-bottom: 10px;
        font-size: 50px;
        font-family: $Abel;
        color: white;
    }
    .home-desc {
        margin-left: 20px;
        background-color: white;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 20px;
        color: black;
        font-family: $base-font-family;
        font-style: italic;
    }
}

.portfolio-box {
  h1 {
    font-size: 30px;
  }
}

.portfolio {
  margin: 0 auto;
  width: 1000px;
}

.example {
    display: flex;
    flex-flow: row;
    margin-bottom: 60px;
  }

.example-pic {
    min-width: 300px;
    min-height: 300px;
    border-radius: 150px;
}

.example-text {
  padding-left: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
      .link-sub {
        margin-top: 5px;
        margin-left: -100px;
        span {
          font-style: italic;
          font-family: $Abel;
          font-size: 22px;
          padding-left: 5px;
          padding-right: 10px;
          background-color: $cream;
        }
      }
      p {
        overflow: hidden;
        margin-top: 5px;
        font-size: 15px;
      }
      .read-more {
        margin-top: 5px;
        a {
          font-size: 16px;
          background-color: $black;
          color: white;
          font-style: italic;
          padding: {
            left: 2px;
            right: 2px;
          }
        }
      }
}
.page-content .link-header {
  text-decoration: none;
  margin-left: -150px;
  font-size: 25px;
  font-family: $Abel;
  font-weight: bold;
  span {
   background-color: $yellow;
   color: white;
   padding: 5px;
   &:hover {
     background-color: darken($yellow, 10);
   }
 }
 margin-bottom: 5px;
}

#mlis {
  .example-pic {
    background-image: url("mlis/spadefoot/images/round_spadefoot.png");
    background-size: 100%;
  }
}

#genealogy {
  .example-pic {
    background-image: url("assets/images/Kvarnby.png");
    background-position: center;
  }
}

#tutorial {
  .example-pic {
  background-image: url("assets/images/tutorial/galymzhan-abdugalimov-181-unsplash.jpg");
  background-position: right;
  background-size: 600px;
  }
}

#visual_ab {
  .example-pic {
  background-image: url("assets/images/ILN_watercarrier.jpg");
  background-size: 400px;
  }
}

#holiday {
  .example-pic {
  background-image: url("assets/images/Holiday_Dinner2.jpg");
  background-position: center left;
  }
}

#encounters {
  .example-pic {
  background-image: url("assets/images/devils_tower.jpg");
  background-position: center top;
  }
}
