/**
* Home
*/
.home-story {
    width: 100%;
    margin-top: 0;
    .home-wrap {
        width: $wrap-mini;
        margin: auto;
    }
    h1 {
      font-family: $Abel;
      text-align: center;
      margin-bottom: 40px;
      padding: 5px;
    }
}

.intro-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 10px;
    background: url("assets/images/toadstools_2.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $cream;
    min-height: 300px;
}

.home-ribbon {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    align-items: center;
    .home-title {
        background-color: $yellow;
        margin-left: -100px;
        padding: 5px 30px;
        margin-bottom: 10px;
        font-size: 50px;
        font-family: $Abel;
        color: white;
    }
    .home-desc {
        margin-left: 20px;
        background-color: white;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 20px;
        color: black;
        font-family: $base-font-family;
        font-style: italic;
    }
}

.portfolio-box h1 {
  font-size: 30px;
}

.portfolio {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.example {
    display: flex;
    flex-flow: column;
}

.example-pic {
    max-width: 250px;
    height: 250px;
    border-radius: 125px;
}

.example-text {
    margin-top: 10px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
      .link-sub {
        margin-top: 5px;
        span {
          font-style: italic;
          font-family: $Abel;
          font-size: 18px;
        }
      }
      p {
        overflow: hidden;
        margin-top: 5px;
        font-size: 15px;
      }
      .read-more {
        display: none;
        margin-top: 5px;
        a {
          font-size: 16px;
          background-color: $black;
          color: white;
          font-style: italic;
          padding: {
            left: 2px;
            right: 2px;
          }
        }
      }
}

.link-header {
   font-size: 22px;
   font-family: $Abel;
   font-weight: bold;
}

#tutorial {
  .example-pic {
    background-image: url("assets/images/tutorial/galymzhan-abdugalimov-181-unsplash.jpg");
    background-position: center;
    background-size: 600px;
  }
}

#visual_ab {
  .example-pic {
    background-image: url("assets/images/ILN_watercarrier.jpg");
    background-size: 300px;
    background-position: left;
  }
}

#holiday {
  .example-pic {
    background-image: url("assets/images/Holiday_Dinner2.jpg");
    background-position: right;
  }
}

#encounters {
  .example-pic {
    background-image: url("assets/images/devils_tower.jpg");
    background-position: top;
  }
}
