/**
 * Page content
 */

.page {
   margin-top: 20px;
 }

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: circle;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-link {
  display: block;
  font-size: 24px;
}
/**
* Pages
*/
.page-flex {
  display: flex;
  justify-content: center;
  min-height: 400px;
}

.page-right {
  width: 900px;
}

.page-header-pic {
  max-width: 200px;
  max-height: 400px;
  background-size: 400px;
  background-position: center;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  flex: 1 0 auto;
  margin-right: 5px;
}

.page-header-one {
  font-size: 30px;
  margin-left: 10px;
  font-family: $Abel;
  text-transform: lowercase;
  border-top: black solid 2px;
  font-weight: bold;
}

.page-small-header {
  font-family: $Abel;
  border-top: black solid 5px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}

.page-content {
  margin-left: 10px;
  ul, li {
    margin-left: 0px;
  }
}

#about-links {
  max-width: 300px;
  margin-top: 20px;
}

.page-padding {
min-width: 205px;
}

/**
 * Posts
 */

.post-quote {
  margin-left: 30px;
  margin-right: 30px;
  font-weight: bold;
  color: #4e4e4e;
  padding: 20px;
  background-color: lightgray;
  a {
    font-weight: normal;
  }
}

.post-title {
  display: none;
  margin-top: 20px;
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}

.post-body {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.post-photos {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 200px;
  .post-image {
    background-position: center top;
    background-size: cover;
    width: 200px;
    height: 400px;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    margin-bottom: 20px;
  }
}

.right-sidebar {
  margin-left: 10px;
  min-width: 210px;
}

.post-width {
  width: 50%;
  margin-bottom: 0px;
}

.post-content {
  table {
    margin-top: 10px;
    margin-bottom: 10px;
    border-collapse: collapse;
    background-color: $code-color;
  }

  table, th, td {
    padding: 5px;
  }

   th, td {
    border-left: 2px solid black;
    padding-left: 10px;
    &:first-child {
      border-left: 0px;
      padding-left: 5px;
    }
  }

  td {
    border-top: 2px solid black;
  }

  tbody {
    tr:nth-child(odd) {
      background-color: darken($code-color, 5);
    }
  }
}

.post-content, .page-content {

  img {
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  video {
    display: block;
    margin: {
      left: auto;
      right: auto;
      bottom: 10px;
      top: 10px;
    }
  }

  a {
    text-decoration: underline;
  }

  p {
    margin-top: 10px;
    font-size: 15px;
  }

  h2 {
    font-size: 32px;
    font-family: $Abel;
  }

  h3 {
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: $Abel;
    font-style: italic;
  }

  h4 {
    margin-top: 15px;
    font-size: 22px;
    font-family: $Abel;
  }
  h5 {
    font-size: 20px;
    font-family: $Abel;
    margin-top: 10px;
    &:before {
      font-family: "Font Awesome 5 Free";
      content: "\f005";
      padding-right: 2px;
    }
  }
  .footnotes {
    padding-left: 15px;
  }

  blockquote {
    background-color: lighten($color-main, 20%);
    border-left: 4px solid $color-main;
    padding: 5px;
    p {
      margin-top: 0px;
      padding: {
        top: 1px;
        left: 4px;
        bottom: 2px;
      }
      font-style: italic;
    }
  }

}
