/**
* Home
**/

#scd-home {
  display: flex;
  @media (min-width: 651px) {
    max-width: 1000px;
    margin: auto;
    flex-direction: row;
    img {
      max-width: 500px;
      margin-right: 10px;
    }
    div p {margin-top: 0px;}
  }
  @media (max-width: 650px) {
    width: 100%;
    flex-direction: column;
    img {max-width: 400px;}
  }
}

/**
* Schema
**/

#scd-schema {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 1301px) {width: 900px;}
  @media (max-width: 1300px) {width: 800px;}
  @media (max-width: 750px) {width: 90%;}
  @media ($phone) {width: 95%;}
}

#scd-schema {
  h1 {
    border-bottom: black 2px solid;
    font-size: 28px;
    font-family: $Abel;
    padding-bottom: 2px;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 24px;
    font-family: $Abel;
    a {text-decoration: none;}
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 20px;
    margin-top: 30px;
  }
  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px black solid;
  }
}

/**
* Records
**/

.records-accordion {
  @media (min-width: 1301px) {width: 1000px; margin: auto;}
  @media (max-width: 1300px) {width: 100%;}
}

.scd-tab {
  display: flex;
  @media (min-width: 651px) {
    flex-direction: row;
    img {max-width: 400px;}
    .scd-desc {
      margin-left: 10px;
      p:first-of-type {margin-top: 0px;}
    }
  }
  @media (max-width: 650px) {
    flex-direction: column;
    img {width: 100%;}
    .scd-desc {margin-left: 0px;}
  }
}

/**
* Specifications
**/

#scd-specs .highlight {
  margin: 0px;
  padding: 5px;
}

#scd-specs td {
  margin-top: 10px;
  font-size: 15px;
}
