/**
* Metadata
**/

#scd-home {
  display: flex;
  img {
    max-width: 500px;
    margin-right: 10px;
  }
}

#scd-pics {
  display: flex;
  margin-top: 20px;
  #scd-graphics {
    height: 800px;
  }
}

#elements-img {
  max-width: 500px;
}

.metadata-content {

  .ui-widget.ui-widget-content {
  border: none;
  }
  .ui-widget-header {
    background: none;
    border: none;
  }

  .ui-tabs-vertical {
    display: flex;
    margin-left: 0px;
  }
  .ui-tabs-vertical .ui-tabs-nav {
    max-width: 320px;
  }
  .ui-tabs-vertical .ui-tabs-nav li {
    width: 320px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    padding: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
  }

  .ui-tabs-vertical .ui-tabs-panel {
    width: 800px;
    border-radius: 5px;
    border: black 2px solid;
    .scd-tab {
    display: flex;
      img {
        max-width: 400px;
      }
      .scd-desc {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
      }
    }
  }

.ui-tabs {
  .ui-state-default {
    border: #c5c5c5 2px solid;
    border-right-width: 0;
  }
  .ui-state-active {
    border: 2px solid black;
    background: white;
    border-right-width: 0;
    a:link {
      color: black;
    }
  }
}

}
