/**
* Site Footer
*/
footer {
  margin-top: 20px;
  flex-shrink: 0;
  border-top: black solid 2px;
  width: $wrap-mini;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  img {
    display: inline;
    max-height: 30px;
  }
  a {
    text-decoration: underline;
  }
  p {
    margin-bottom: 30px;
  }
}

.logos {
  width: 280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#sitecode {
  font-size: 20px;
  font-family: $Abel;
  margin-left: 5px;
}
